<h1>About Elemental</h1>
<p>Elemental is a way to track your vehicle's gas mileage over time. It is being built
	 for a Honda Element as the first user.</p>
<p>This app is currently being developed for a user in the United States. This means
	 the assumptions are that the odometer reading is in miles, fuel is addded in gallons,
 		and the fuel tank is in gallons. 
<%
=begin%>
 <p>User creates account (add this later)</p> 
<%
=end%>
<p>User adds a vehicle, with a name, gas tank size and starting odometer reading.
	 Since many cars can expect to roll-over the odometer, entries will assume the 'real' value
	 for the reading. That is, the odometer rolled over and now reads '00002'. 
	 The odometer entry will be 100,002. We will also assume the odometer is
	  working correctly, and represents the actual miles driven.</p>
<p>They can also add the vehicle's Year, Make, and Model, but these are optional.</p>
<p></p>
<p></p>
<p></p>
